@import "../BasicStyles/vars";

.help {
    height: 400px;
    // padding: 30px 55px;
    padding-bottom: 140px;

    background: url("../../assets/img/webp/help-img.png") no-repeat;
    background-position: center right;
    background-size: 400px;
}

.help__title {
    padding-bottom: 40px;
}

// .help__pros {}

.pros__item {
    padding-left: 30px;

    position: relative;

    &+& {
        margin-top: 22px;
    }

    &::before {
        content: "";
        position: absolute;
        // top: 2.5px;
        // left: 10px;
        top: 0;
        left: 0;

        width: 20px;
        height: 20px;

        background: url("../../assets/img/svg/icons/check.svg") no-repeat;
        background-position: center 2.5px;
    }
}